<form action="appointment" method="post">
  <input type="datetime-local" name="date" placeholder="pls choose date"/>
  <input type="text" name="doctor" placeholder="choose doctor"/>
  <button>Make Appointment</button>
</form>