    <section class="pre-header">
        <div class="container">
            <div class="header-info">
                <div class="header-info-credits">
                    <div class="credits-address">
                        <span><i class="fas fa-home"></i>27 Division St, New York, United States </span>
                    </div>
                    <div class="credits-email">
                        <span><i class="fas fa-envelope"></i>info@example.com</span>
                    </div>
                    <div class="credits-hours">
                        <span><i class="far fa-clock"></i> Mon - Fri: 9.00am - 11.00pm</span>
                    </div>
                </div>
                <div class="header-user">
                    <i class="fas fa-user"></i>
                    <a href="/admin" id="user-login">Log in</a>
                </div>
                <div class="header-info-social">
                    <span><i class="fab fa-facebook-f"></i></span>
                    <span><i class="fab fa-twitter"></i></span>
                    <span><i class="fab fa-youtube"></i></span>
                </div>
            </div>
        </div>
    </section>
    <header>
        <div class="container">
            <div class="header-inner">
                <div class="header-logo">
                    <img src="/static/assets/img/logo.png" alt="">
                </div>
                <nav>
                    <ul class="main-menu">
                        <li class="menu-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">About</a>
                            <ul class="sub-menu">
                                <li><a href="#">About One</a></li>
                                <li><a href="#">About Two</a></li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="#">Service</a>
                            <ul class="sub-menu">
                                <li><a href="#">Service One</a></li>
                                <li><a href="#">Service Two</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="header-make-appoint book-app">
                        <a href="#book-form">Make Appointment</a>
                    </div>
                    <div class="header_burger" >
                        <span></span>
                    </div>
                    <div class="header_overlay"></div>
                </nav>
            </div>
        </div>
    </header>

    <section class="slider">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide slide1">
                    <div class="slide-info">
                        <span>Welcome To Family Doctor!</span>
                        <h1>Best Health Care For <br /> Family Doctor.</h1>
                        <p>We will help you to feel better and enjoy every single day of </br> your life.
                            may be the fastest growing health.</p>
                        <div class="slider-make-appoint">
                            <a href="#book-form" class="book-app">Make Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide2">
                    <div class="slide-info">
                        <span>Welcome To Family Doctor!</span>
                        <h1>Best Health Care For <br /> Family Doctor.</h1>
                        <p>We will help you to feel better and enjoy every single day of </br> your life.
                            may be the fastest growing health.</p>
                        <div class="slider-make-appoint">
                            <a href="#book-form">Make Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide3">
                    <div class="slide-info">
                        <span>Welcome To Family Doctor!</span>
                        <h1>Best Health Care For <br /> Family Doctor.</h1>
                        <p>We will help you to feel better and enjoy every single day of </br> your life.
                            may be the fastest growing health.</p>
                        <div class="slider-make-appoint">
                            <a href="#book-form">Make Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="health">
        <div class="container">
            <div class="health-blocks-inner row d-flex justify-content-center row">
                <div class="col-lg-3 col-md-6 col-sm-12 health-block me-4">
                    <div class="health-block-head">
                        <i class="fas fa-wheelchair"></i>
                        <h3>Paralysis Disability</h3>
                    </div>
                    <div class="health-block-text">
                        <p>While building out a new website you literally no idea of where to start.</p>
                    </div>
                    <div class="health-block-more">
                        <a href="#">Read More +</a>
                    </div>
                    <div class="health-bg-icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12  health-block me-4">
                    <div class="health-block-head">
                        <i class="fas fa-briefcase-medical"></i>
                        <h3>Patient of Beding </h3>
                    </div>
                    <div class="health-block-text">
                        <p>While building out a new website you literally no idea of where to start.</p>
                    </div>
                    <div class="health-block-more">
                        <a href="#">Read More +</a>
                    </div>
                    <div class="health-bg-icon">
                        <i class="fas fa-briefcase-medical"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 health-block">
                    <div class="health-block-head">
                        <i class="fas fa-flask"></i>
                        <h3>Health Laboratory </h3>
                    </div>
                    <div class="health-block-text">
                        <p>While building out a new website you literally no idea of where to start.</p>
                    </div>
                    <div class="health-block-more">
                        <a href="#">Read More +</a>
                    </div>
                    <div class="health-bg-icon">
                        <i class="fas fa-flask"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services">
        <div class="container">
            <div class="service-general-info row">
                <div class="general-info col-12 text-center d-flex align-items-center flex-column">
                    <span>Our Service</span>
                    <img src="/static/assets/img/service.png" alt="">
                    <h1>Smartdev Digital Services for </br> Your Company?</h1>
                </div>
            </div>

            <div class="service-cards mt-5 row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-12 service-card me-4">
                    <div class="service-card-head">
                        <img src="/static/assets/img/service-1.png" class="card-img-top" alt="...">
                        <div class="service-top-icon">
                            <i class="fas fa-wheelchair"></i>
                        </div>
                    </div>
                    <div class="service-card-body">
                        <h5>Emergency Services</h5>
                        <p>Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                            text the medical.</p>
                        <a href="#" class="service-card-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 service-card me-4">
                    <div class="service-card-head">
                        <img src="/static/assets/img/service-2.png" class="card-img-top" alt="...">
                        <div class="service-top-icon">
                            <i class="fas fa-brain"></i>
                        </div>
                    </div>
                    <div class="service-card-body">
                        <h5>Emergency Services</h5>
                        <p>Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                            text the medical.</p>
                        <a href="#" class="service-card-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 service-card">
                    <div class="service-card-head">
                        <img src="/static/assets/img/service-3.png" class="card-img-top" alt="...">
                        <div class="service-top-icon">
                            <i class="fas fa-user-md"></i>
                        </div>
                    </div>
                    <div class="service-card-body">
                        <h5>Emergency Services</h5>
                        <p>Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                            text the medical.</p>
                        <a href="#" class="service-card-btn">Read More</a>
                    </div>
                </div>

            </div>
            <div class="service-cards mt-5 row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-12 service-card me-4">
                    <div class="service-card-head">
                        <img src="/static/assets/img/service-4.png" class="card-img-top" alt="...">
                        <div class="service-top-icon">
                            <i class="fas fa-ambulance"></i>
                        </div>
                    </div>
                    <div class="service-card-body">
                        <h5>Emergency Services</h5>
                        <p>Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                            text the medical.</p>
                        <a href="#" class="service-card-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 service-card col-sm-12 col-md-6 me-4">
                    <div class="service-card-head">
                        <img src="/static/assets/img/service-5.png" class="card-img-top" alt="...">
                        <div class="service-top-icon">
                            <i class="fas fa-heartbeat"></i>
                        </div>
                    </div>
                    <div class="service-card-body">
                        <h5>Emergency Services</h5>
                        <p>Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                            text the medical.</p>
                        <a href="#" class="service-card-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 service-card col-sm-12 col-md-6">
                    <div class="service-card-head">
                        <img src="/static/assets/img/service-6.png" class="card-img-top" alt="...">
                        <div class="service-top-icon">
                            <i class="fas fa-tablets"></i>
                        </div>
                    </div>
                    <div class="service-card-body">
                        <h5>Emergency Services</h5>
                        <p>Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                            text the medical.</p>
                        <a href="#" class="service-card-btn">Read More</a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="tab-contacts">
        <div class="container">
            <div class="service-general-info row">
                <div class="general-info col-12 text-center d-flex align-items-center flex-column">
                    <span>Our Service</span>
                    <img src="/static/assets/img/service.png" alt="">
                    <h1>Smartdev Digital Services for </br> Your Company?</h1>
                </div>
            </div>
            <div class="tab-contact-inner">
                <div class="tab-contact-head">
                    <div class="tab content-1 active">
                        <span><i class="fas fa-brain"></i></span>
                        <strong>Brain-althim</strong>
                    </div>
                    <div class="tab content-2 ">
                        <span> <i class="fas fa-user-md"></i></span>
                        <strong>Emergency</strong>
                    </div>
                    <div class="tab content-3 ">
                        <span> <i class="fas fa-heartbeat"></i></span>
                        <strong>Heart-beat</strong>
                    </div>
                    <div class="tab content-4 ">
                        <span><i class="fas fa-tablets"></i></span>
                        <strong>Blood-test</strong>
                    </div>

                </div>
                <div class="tab-contact-body col-12">
                    <div class="tab-content active content-1 row d-flex justify-content-center">
                        <div class="col-6 contact-body-left">
                            <img src="/static/assets/img/contact2.jpeg" alt="">
                        </div>
                        <div class="col-6 contact-body-right">
                            <img src="/static/assets/img/contact1.jpeg" alt="">
                        </div>
                    </div>
                    <div class="tab-content content-2 row d-flex justify-content-center">
                        <div class="col-6 contact-body-left">
                            <img src="/static/assets/img/contact1.jpeg" alt="">
                        </div>
                        <div class="col-6 contact-body-right">
                            <img src="/static/assets/img/contact2.jpeg" alt="">
                        </div>
                    </div>
                    <div class="tab-content content-3 row d-flex justify-content-center">
                        <div class="col-6 contact-body-left">
                            <img src="/static/assets/img/contact2.jpeg" alt="">
                        </div>
                        <div class="col-6 contact-body-right">
                            <img src="/static/assets/img/contact1.jpeg" alt="">
                        </div>
                    </div>
                    <div class="tab-content content-4 row d-flex justify-content-center">
                        <div class="col-6 contact-body-left">
                            <img src="/static/assets/img/contact1.jpeg" alt="">
                        </div>
                        <div class="col-6 contact-body-right">
                            <img src="/static/assets/img/contact2.jpeg" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="appointment">
        <div class="container">
            <div class="appointment-inner">
                <div class="appointment-block row">
                    <div class=" col-lg-6 col-12  col-md-12 col-sm-12 appointment-form">
                        <h1 id="book-form">Book An Appointment</h1>
                        {{> messages}}
                        <form method="POST" action="/appointment">
                            <input type="text" id="name" name="fullname" required="required" placeholder="Your Fullname*">
                            <input type="email" id="email" placeholder="Your Email*"  required="required" name="email">
                            <input type="tel" id="phone" placeholder="Phone Number*" required="required" name="phone">
                            <input
                                type="text"
                                class="form-control"
                                id="datepicker"
                                placeholder="Choose Date"
                                autocomplete="off"
                                readonly="readonly"
                                name="date"
                                required="required"
                            />
                            <select id="time" name="time" required="required">
                                <option value="">Choose Time...</option>
                            </select>
                            <select name="place" id="place" required="required">
                                <option value="" selected>Choose Department...</option>
                                <option value="Brain-althim">Brain-althim</option>
                                <option value="Heart-beat">Heart-beat</option>
                                <option value="Heart-beat">Blood-test</option>
                            </select>
                            <textarea name="message" id="msg" cols="40" rows="6" placeholder="Message*"></textarea>
                            <button class="form-btn" type="submit">Make Your Appointment</button>
                        </form>
                    </div>
                    <div class="col-lg-6 col-12 col-md-12  appointment-img">
                       <img src="/static/assets/img/appoint-img.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="container">
            <div class="footer-inner">
                <div class="footer-main row d-flex justify-content-between">
                    <div class="col-lg-4 col-sm-12 col-md-3 footer-logo">
                        <img src="/static/assets/img/footer-logo.png" alt="">
                        <p>Nemo enim ipsam voluptate quia voluptas sit aspernatur aut odit aut fugit, sed quia magni this dolores eos qui ratione .</p>
                        <div class="footer-social">
                            <a href="#">
                                <span><i class="fab fa-facebook-f"></i></span>
                                
                            </a>
                            <a href="#">
                                <span><i class="fab fa-twitter"></i></span>
                            </a>
                            <a href="#">
                                <span><i class="fab fa-youtube"></i></span>
                            </a>
                        </div>

                      
                       
                    </div>
                    <div class="col-lg-4  col-sm-12 col-md-3 footer-contacts">
                        <h1>Our Contacts</h1>
                        <span><i class="fa fa-map-marker"></i> Adress: 21 Division St, Rangpur,<br/> RS 101215, RMS</span>
                        <span><i class="fa fa-phone"></i> Phone: +06544451100 <br/> Fax: +(03)1548656845</span>
                        <span><i class="fa fa-globe"></i> Email: example@example.com <br/> Website: yourwebsite.com</span>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-3 footer-timeline">
                        <h1>Servicing Timeline</h1>
                        <ul>
                            <li>
                                <span>Monday - Friday</span>
                                <span>08:00 - 20:00</span>
                            </li>
                            <li>
                                <span>Saturday</span>
                                <span>09:00 - 18:00</span>
                            </li>
                            <li>
                                <span>Sunday</span>
                                <span>09:00 - 18:00</span>
                            </li>
                            <li>
                                <span>Emergency:</span>
                                <span>(+099) 020 768 69</span>
                            </li>
                           
                        </ul>
                    </div>

                </div>

                <div class="footer-separator"></div>
                <div class="footer-copyright">
                    <div class="footer-copy">
                        <span>Copyright © smartdev all rights reserved.</span>
                    </div>
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button id="toTop" title="Go to top" class="active">
            
        </button>
    </footer>

    