<h1>Login</h1>
  {{> messages}}
<form action="/login" method="post">
  <input placeholder="email" type="text" name="email" />
  <input placeholder="password" type="password" name="password" />
  <button>Login</button>
</form>