<h1>Sign UP!</h1>

    <form action="/register" method="post">
        <input placeholder="Full Name" type="text" name="fullname">
        <input placeholder="username" type="date" name="dob">
        <input placeholder="email" type="text" name="email">
        <input placeholder="password" type="password" name="password">
        <button>Submit</button>
    </form>