*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    position: relative;
    max-width: 1070px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto
}

.container-full {
    position: relative;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto
}

.pre-header {
    background: #F1F7FB;
}
.header-info {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-info-credits {
    display: flex;
}

.header-info-credits span{
    color: #999;
    font-size: 15px;
    font-weight: 700;
    margin-right: 20px;
}

.header-info-credits span > i {
    color: #3EA3D3;
    margin-right: 10px;
}

.header-user a,
.header-user i {
    color: #999;

}
.header-user a {
    cursor: pointer;
    margin-left: 5px;
}
.header-info-social span {
    cursor: pointer;
}
.header-info-social span:not(:last-child) {
    margin-right: 10px;
}

.header-info-social span > i {
    color: #999;
}

.header-info-social span:hover i {
    color: #000;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner nav {
    display: flex;
    align-items: center;
}

.header-inner nav .main-menu {
    display: flex;
    align-items: center;
}

.header-inner .main-menu > li:not(:last-child) {
    margin-right: 20px;
}

.header-inner nav .main-menu > li > a{
    display: inline-block;
    margin: 38px 0;
    color: #272727;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.header-inner .main-menu > li:not(:first-child) > a::after{
    margin-left: 5px;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 13px;
    opacity: .5;
}

.header-inner .main-menu > li:hover a {
    color: #3EA3D3;
}

.menu-item {
    display: inline-block;
    position: relative;
}


.sub-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 217px;
    text-align: left;
    background: #3da3d4;
    margin: 0;
    padding: 15px 0;
    z-index: 2;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 30%);
    transition: .2s;
    opacity: 0;
    visibility: visible;
}

.sub-menu li a {
    font-weight: 700;
    text-decoration: none;
    transition: all .3s ease-in-out;
    display: block;
    padding: 12px 20px;
    margin: 0;
    letter-spacing: normal;
    font-size: 15px;
    color: #fff !important;
    font-weight: 400;
    transition: .5s;
    visibility: inherit !important;
}

.sub-menu li:hover a {
    background: #fff;
    color: #3da3d4 !important;
}

.sub-menu.active {
    visibility: visible;
    opacity: 1;
}
.header-make-appoint {
    margin-left: 20px;
}

.header-make-appoint a {
    background-color: #3da3d4;
    border-radius: 5px;
    padding: 16px 25px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}


.swiper,
.swiper-wrapper {
    z-index: initial;
}

.swiper-slide.slide1 {
    background-image: url(../img/slide1.jpeg);
    height: 100vh;
    background-position: top center;
}

.swiper-slide.slide2 {
    background-image: url(../img/slide2.jpeg);
    height: 100vh;
    background-position: top center;
}
.swiper-slide.slide3 {
    background-image: url(../img/slide3.jpeg);
    height: 100vh;
    background-position: top center;
}


.slide-info {
    max-width: 1000px;
    width: 100%;
}

.swiper-slide {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 50px;
}
.swiper-slide .slide-info span{
    color: #3DA3D4;
    font-style: italic;
    text-decoration: underline;
    font-size: 22px;
    font-weight: 900;
}

.swiper-slide .slide-info h1{
    color: #222;
    font-size: 70px;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.swiper-slide .slide-info p{
    margin-bottom: 40px;
    color: #929292;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
}

.slider-make-appoint a {
    background-color: #3da3d4;
    padding: 20px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}


.health {
    margin-top: -70px;
}

.health-blocks-inner {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.health-block {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 30px 20px 30px 40px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #213162;
    width: 33.333%;
    min-height: 220px;
    max-width: 360px;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
}
.health-block:not(:last-child){
    margin-right: 20px;
}

.health-block:hover {
    background-color: #3da3d4;
}
.health-block:hover .health-block-head i,
.health-block:hover .health-block-head h3,
.health-block:hover .health-block-text p,
.health-block:hover .health-block-more a {
    color: #fff;
}

.health-block-head {
    display: flex;
    align-items: center;
}

.health-block-head i {
    color: #3DA3D4;
    font-size: 50px;
    transition: all .5s ease-in-out;
}

.health-block-head h3 {
    margin-left: 20px;
    color: #333;
    font-size: 20px;
    font-weight: 900;
    transition: all .5s ease-in-out;
}

.health-block-text p {
    margin-top: 10px;
    color: #999;
    font-size: 17px;
    line-height: 1.6;
    transition: all .5s ease-in-out;
}

.health-block-more a {
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    font-weight: 700;
    color: #333;
    font-size: 17px;
    transition: all .5s ease-in-out;
}

.health-bg-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    z-index: -1;
    opacity: 1;
    transition: all .5s ease-in-out;
}

.health-bg-icon > i {
    opacity: 8%;
    color: #fff;
    font-size: 150px;
    font-weight: 900;
    transition: all .5s ease-in-out;
}


.login-popup {
    display: none;
}
.login-backdrop,
.login-popup{
    z-index: 2001;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.login-backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(4, 2, 16, .77);
}

.login-inner {
    padding: 60px;
    min-height: 50vh;
    background: #F1F7FB;
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 560px;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    border-radius: 15px;
    border: 1px solid transparent;
}


.login-form form .btn {
    max-width: 200px;
    width: 100%;
    background-color: rgb(26, 145, 218);
    height: 48px;
    margin-top: 30px;
    color: #fff;
    font-weight: 600;
    /* border-radius: 25px; */
    outline: none;
}

.login-form form .btn:hover {
    background-color: rgb(26, 145, 218);
}

.login-form form .form-floating label {
    color: rgb(133, 133, 133);
    padding-top: 20px;
}

.login-form form input[type=email],
.login-form form input[type=password] {
    font-size: 18px;
}

.login-form form input[type=email]:focus,
.login-form form input[type=password]:focus {
    /* outline: none; */
    border: 2px solid rgb(26, 145, 218);;
    box-shadow: none;
    font-size: 20px;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    color: rgb(26, 145, 218);
    opacity: 1;
}

.form-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-btns .login-btn.google {
   background: red;
}

.popup-close{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    padding: 8px;
    height: 30px;
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: rgb(26, 145, 218);
    border-radius: 50%;
    cursor: pointer;
}

